<div class="login-form">
  <form
    fxLayout="column"
    fxLayoutAlign="center center"
    #f="ngForm"
    (ngSubmit)="onLogin(f)"
  >
    <mat-form-field>
      <input
        matInput
        type="email"
        placeholder="Email"
        ngModel
        name="email"
        required
        email
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="password"
        placeholder="Password"
        ngModel
        name="password"
        required
      />
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!f.valid"
      *ngIf="!isLoading"
      >
      Login
    </button>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
  </form>
</div>
