<mat-toolbar color="accent">
    <div fxHide.gt-xs>
      <button mat-icon-button (click)="onToggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div>
      <a routerLink="/"><mat-icon class="home">home</mat-icon></a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
      <ul fxLayout fxLayoutGap="10px" class="navigation-items">
        <li *ngIf="!userIsAuthenticated">
          <a routerLink="/signup" routerLinkActive="active">Signup</a>
        </li>
        <li *ngIf="!userIsAuthenticated">
          <a routerLink="/login">Login</a>
        </li>
        <!-- <li>
          <a routerLink="/profile">Profile</a>
        </li> -->
        <li *ngIf="userIsAuthenticated">
            <a routerLink="/add-details">Add Details</a>
          </li>
          <li *ngIf="userIsAuthenticated">
              <a routerLink="/show-details">Show Details</a>
            </li>
        <li *ngIf="userIsAuthenticated">
          <a routerLink="/login" (click)="onLogout()">Logout</a>
        </li>
      </ul>
    </div>
  </mat-toolbar>